



/* Color Style Switcher  End */



/* Colors */

/* light-version */
ul.colors .color1 {
    background: #f50057;  /* red */    
}
ul.colors .color2 {
    background: #01b1d7;  /* sky */
}
ul.colors .color3 {
     background: #436EEE ; /* Blue */
}
ul.colors .color4 {
     background: #ef4836;  /* pink */
}
ul.colors .color5 {
     background: #FFC107;  /* yellow */
}
ul.colors .color6 {
     background: #94c523;  /* Light Green */
}
